<ion-header>
  <ion-toolbar class="header">
    <!-- <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>AirforceOne</ion-title>
    <!-- <ion-title><ion-img src="assets/logo/logo-header.png"></ion-img></ion-title> -->
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 	<ion-tabs>
	  <ion-tab-bar slot="bottom" color="dark">
	  	<ion-tab-button tab="feed">
	      <ion-icon name="eye"></ion-icon>
	      <ion-label>ล่าสุด</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="job">
	      <ion-icon name="cart"></ion-icon>
	      <ion-label>รับของ</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="send">
	      <ion-icon name="car"></ion-icon>
	      <ion-label>ส่งของ</ion-label>
	    </ion-tab-button>

	    <ion-tab-button tab="other">
	      <ion-icon name="apps"></ion-icon>
	      <ion-label>อื่นๆ</ion-label>
	    </ion-tab-button>
	  </ion-tab-bar>

	</ion-tabs>

</ion-content>